@import "tailwindcss";


@theme {
  --color-primary:red;
  --color-primary: #1D4ED8;       
  --color-secondary: #10B981;    
  --color-accent: #F59E0B;        
  --color-background: #F3F4F6;    
  --color-card-bg: #FFFFFF;       
  --color-text-primary: #111827;  
  --color-text-secondary: #6B7280; 
}
